<p><%= @game.people_links == 1 ? 'La persona que te ha tocado como amigo invisible es:' : 'Las personas que te han tocado como amigos invisibles son:' %></p>

<ul>

<% @game.assignments.where(person: @person).map { |a| a.linked.name }.each do |name| %>
  <li><%= name %></li>
<% end %>

</ul>

<p>Recuerda:</p>

<ul>

<li>Precio acordado por regalo: entre <%= @game.min_price %>€ y <%= @game.max_price %>€</li>

<li>Fecha del amigo invisible: <%= @game.date.to_date.strftime('%d/%m/%Y') %></li>

</ul>